---
title: Locations
---
<style>
    .storelocator-wrap {
        font-size: 1.3rem;
    }
    .storelocator-wrap h3 {
        margin: 0 0 0.5rem 0;
        border-bottom: 1px solid #ccc;
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        padding-top: 1rem;
    }
    .storelocator-wrap h3:first-of-type {
        margin-top: 2rem;
    }
    .results {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(30%, 1fr) );
        gap: 1rem;
        margin-bottom: 4rem;
    }

    @media screen and (max-width: 749px) {
        .results {
            grid-template-columns: 1fr;
        }
    }

    .item p {
        margin: 0;
    }
    .locator-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .shortcuts {
        display: flex;
        gap: 0.25rem;
        font-size: 1rem;
        flex-wrap: wrap;
    }
    .shortcuts a {
        text-decoration: none;
    }
    .shortcuts a:hover {
        text-decoration: underline;
    }

</style>
<div class="storelocator-wrap">
<div class="locator-header">
    <h2>Retailer Locations</h2>
    <div class="shortcuts">
    {%- for k, v in state_lookup -%}
        <a href="#{{k}}">{{v}}</a>
    {%- endfor -%}
    </div>
</div>
{% for state, locationsInState in store_locations %}
<h3 id="{{state}}">{{ state }}</h3>
<div class="results">
        {% for loc in locationsInState %}
    <div class="item">
        <strong>{{ loc.Name }}</strong>
        <p>{{ loc.Address }}</p>
        <p>{{ loc.City }}, {{ loc['Province/State'] }} {{ loc['Postal/Zip Code'] }}</p>
    </div>
        {% endfor %}
</div>
{% endfor %}
</div>


