---
title: Locations
layout: layout.njk
---
<div class="storelocator-wrap">
{% for state, locationsInState in store_locations %}
<h2>{{ state }}</h2>
<div class="results">
        {% for loc in locationsInState %}
    <div class="item">
        <strong>{{ loc.Name }}</strong>
        <p>{{ loc.Address }}</p>
        <p>{{ loc.City }}, {{ state }} {{ loc['Postal/Zip Code'] }}</p>
    </div>
        {% endfor %}
</div>
{% endfor %}
</div>

<style>
    .storelocator-wrap {
        font-size: 1.3rem;
    }
    .storelocator-wrap h2 {
        margin: 0 0 0.5rem 0;
        border-bottom: 1px solid #ccc;
    }
    .results {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(19%, 1fr) );
        gap: 1rem;
        margin-bottom: 4rem;
    }
    .item p {
        margin: 0;
    }
</style>
